body{
    background-color: #2b2b2b;
    margin: 0;
    padding: 0;
}

#pagewrap {
    width: 80%;
    height: auto;
    background-color: white;
    margin: 0.5em auto;
    padding: 0.5em 0.5em 3em 0.5em;
    max-width: 1400px;
}

#flexwrapper {
    width: 80%;
    height: auto;
    background-color:  white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2em auto 0 auto;
    padding: 0.5 em;
    

}

.header{
    width: 80%;
    margin: 0 auto;
    height: autoem;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;  
}

h2{
    text-align: center;
    text-decoration: underline;
}

ul{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: left;
    list-style-position: inside;
    
  

}

.box1 {
    width: 30%;
    height: 10em;    
    text-align: center;
    
    padding: 0.5em;
    margin: 0.5em;
    overflow: hidden;
    background-image: url(github2.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    
}

.box2{
    width: 30%;
    height: 10em;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
    overflow: hidden;
    background-image: url(github2.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
}

.box3{
    width: 30%;
    height: 10em;    
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
    overflow: hidden;
    background-image: url(github2.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}

footer {
    width: 80%;
    margin: 0 auto;
    height: 100px;    
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url(daniel-weiss-aj2Os9mYgJU-unsplash.jpg);
    -webkit-text-stroke: 2px black;
    
    
}

footer span{
    color: white;
    margin: 0.75em auto 1.5em auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}


.alert{

    margin-top: 1em;
    text-align: center;
    font-size: 1.25em;
}

.image{

    transform: rotate(270deg);
    width: 200px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    
    overflow: hidden;
}

.btn{
    margin-left: 1.5em;
    margin-bottom: 1.0em;
}
    
.email{
    text-align: center;
}

.sample_project{
    padding-top: 1em;
    text-align: center;
}

.fa {
   
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
 
  .fa:hover {
    opacity: 0.7;
  }
  
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-github {
    background: #211f1f;
    color: white;
  }

  
  .fa-linkedin {
    background: #0077b5;
    color: white;
  }


